<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <style>
        .navbar{
            background-color: darkred;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/">HomePage</a></li>
        </ul>
    </nav>
    <header>
        <h3 class="center-align">Login</h3>
    </header>
    <main>
        <div class="col s12 m6 offset-m3 center-align">
            <a class="oauth-container btn darken-4 white black-text" href="/auth/google" style="text-transform:none">
                <div class="left">
                    <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                </div>
                Login with Google
            </a>
        </div>
    </main>
</body>
</html>